.header{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.judul{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 50px;
    font-family: Arial;
    font-weight: bold;
}

.button-cate{
    align-items: center;
    font-size: 12px;
    font-family: sans-serif;
    color: whitesmoke;
    background-color:rgb(38, 101, 235);
    border: black, 2px;
    border-radius: 4px;
}

.button-food{
    align-items: center;
    font-size: 12px;
    font-family: sans-serif;
    color: whitesmoke;    
    background-color:rgb(38, 101, 235);
    border: black, 2px;
    border-radius: 4px;
}

.kateg{
    font-size: 15px;
    font-family: Arial;
    color: gray;
}

.beli{
    background-color: rgb(21, 146, 230);
    color:white;
    font-size: 15px;
    font-family: sans-serif;
    border: black, 2px;
    border-radius: 4px;
}